.row
  .small-4.columns.small-centered
    .panel.sign-in-form
      h2 Log in

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :login
          br /
          = f.text_field :login, autofocus: true 

        .field
          = f.label :password 
          br /
          = f.password_field :password, autocomplete: 'off'

        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me

        .actions
          = f.submit 'Log in' 

      = render 'users/shared/links'
