h1 Course List
table
  thead
    tr
      th Course Name
      th Department
      th Description
      th 
  tbody
  	- @courses.each do |course|
      tr
        td = link_to course.name, course
        td = course.dep
        td = course.title
        td = course_options({enlist: true, enlist_data: {course_id: course.id, \ 
          student_id: current_user.id}})

- if current_user.moderator?
  br
  = link_to "New course", new_course_path