h1 Create a Course
= form_for @course do |f|
  table
  	tr
  		td = f.label :name, "Course Name"
    tr
    	td = f.text_field :name
 		tr
 			td = f.label :dep, "Department/Institute"
    tr
    	td = f.text_field :dep
    tr
    	td = f.label :title, "Course Description"
    tr
    	td = f.text_area :title
  
  = f.submit