h1 = @course.name
p
	= @course.dep
	= @course.title
	br
	= link_to "Delete Course" , @course, method: :delete, data: { confirm: 'Are you sure?' }
	= link_to "Edit Course", edit_course_path
	= link_to "Index", courses_path