table
  thead
    tr
      th username
      th email
      th colspan='2'
  tbody
    - @moderators.each do |moderator|
      tr
        td = moderator.username
        td = moderator.email
        td = link_to 'Show', '#'
        td = link_to 'Delete', moderator_path(id: moderator.id), \
          method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'Add Moderator Account', new_moderator_path