= form_for :moderator, url: moderators_path do |f|
  p
    = f.label :username
    br
    = f.text_field :username

  p
    = f.label :email
    br
    = f.email_field :email

  p
   = f.submit 'Add Moderator Account'