nav.top-bar data-topbar='' role='navigation'
  ul.title-area
    li.name
      h1
        = link_to 'IEEE', root_path

  section.top-bar-section
    ul.left
      = render 'layouts/user_tabs'
    
    ul.right
      - if user_signed_in?
        li.active
          = link_to 'Sign out', sign_out_path, method: :delete
      - else
        li.active
          = link_to 'Log in', sign_in_path