- if user_signed_in?
  - if current_user.administrator?
    li
      = link_to 'Moderators', moderators_path 
  - elsif current_user.moderator?
    li
      = link_to 'Courses', courses_path
  - elsif current_user.student?
    li
      = link_to 'Courses', courses_path
  - elsif current_user.professor?