doctype html
html lang='en'
  head
    meta charset='utf-8' /
    meta name='viewport' content='width=device-width, initial-scale=1.0' /

    title 
      = content_for?(:title) ? yield(:title) : 'IEEEVideoLectureSeries'

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    = render 'layouts/navbar'
    = render 'layouts/flash_messages'
    = yield