.row
  .small-4.columns.small-centered
    .panel
      h2 Sign up

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :username
          br /
          = f.text_field :username

        .field
          = f.label :email 
          br /
          = f.email_field :email, autofocus: true

        .field
          = f.label :password
          - if @minimum_password_length
          em 
            | (  
            = @minimum_password_length 
            |  characters minimum )
          br /
          = f.password_field :password, autocomplete: 'off'

        .field
          = f.label :password_confirmation 
          br /
          = f.password_field :password_confirmation, autocomplete: 'off'

        .actions
          = f.submit 'Sign up'

      = render 'users/shared/links'